body {
  height:100%;
}

html {
  height:100%;
}

.hidden {
  display: none;
}

#map {
  height:100%;

}

.container {
  position: absolute;
  top:4em;
  right: 0;
  left: 0;
}
.controls {
  background-color: rgba(255, 255, 255, .7);
  border: 2px solid;
  border-radius: 3px;
  height: auto;
  position: absolute;
  text-align: center;

}

#radius .slider-selection {
  background: #BABABA;
}

.controls #search-radius {
  margin-top: .5em;
}

.controls #find-trails {
  margin: 1em 0 1em;
}

#thumb {
  margin: 0 auto;
  width:300px;
  height: auto;
}

#thumbnail {
  width: 100%;
}

span.stars, span.stars span {
    display: block;
    background: url('..images/stars.gif') -22 -0px repeat-x;
    width: 22px;
    height: 22px;
}

span.stars span {
    background-position: 0 0;
}

