body {
  height:100%;
  font-family: 'Source Sans Pro', sans-serif;
}

html {
  height:100%;
}

.hidden {
  display: none;
}

a:hover {
  text-decoration: none;
  color: #0F93D6;
}

.map {
  height:100%;
  margin: 0;
}

.container-fluid, .col-md-9, .row {
  height: 100%;
  margin: 0;
  padding: 0;
  border:0;
}

.outside-logo {
  color: #23527C;
}

.logo{
 margin-bottom: 1.5em;
 font-size: 1.2em;
 }

.outside-logo h3 {
  font-family: 'Merriweather', serif;
  font-size: 2em;

}

.controls {
  clear: both;
  padding-top: 2em;
}

.controls img {
  height: 3em;
}

#radius .slider-selection {
  background: #b7b7b7;
}

.controls .search-distance p {
  margin-top: .75em;
}

.controls .find-trails {
  margin: 2em 0;
}

#thumb {
  margin: 0 auto;
  width:300px;
  height: auto;
}

#thumbnail {
  width: 100%;
}

#stats #distance {
  margin-left: 13px;
}

.rating_bar {
    width: 80px;
    height: 16px;
    background: url(../images/stars.png);
    background-repeat: repeat-x;
    background-position: 0 0;
    text-align: left;
   margin-left: 150px;
    }
.rating {
    height: 16px;
    background: url(../images/stars.png);
    background-position: 0 -16px;
    background-repeat: repeat-x;
}

.popup #trail-description br {
  display: none;
}

